{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1>BTracker App</h1>
            </div>

            <div id="status">
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th width="20%">#</th>
                        <th width="20%">Device name</th>
                        <th width="20%">X</th>
                        <th width="20%">Y</th>
                        <th width="20%">Date</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for event in events %}
                    <tr>
                        <td scope="row">{{ event.getId() }}</td>
                        <td>{{ event.getName() }}</td>
                        <td>{{ event.getPositionOx() }}</td>
                        <td>{{ event.getPositionOy() }}</td>
                        <td>{{ event.getEventDatetime()|date('Y-m-d H:i:s') }}</td>
                    </tr>
                    </tbody>
                    {% endfor %}
                </table>
            </div>

        </div>
    </div>
{% endblock %}

{% block stylesheets %}
<style>
    body { background: #F5F5F5; font: 18px/1.5 sans-serif; }
    h1, h2 { line-height: 1.2; margin: 0 0 .5em; }
    h1 { font-size: 36px; }
    h2 { font-size: 21px; margin-bottom: 1em; }
    p { margin: 0 0 1em 0; }
    a { color: #0000F0; }
    a:hover { text-decoration: none; }
    code { background: #F5F5F5; max-width: 100px; padding: 2px 6px; word-wrap: break-word; }
    #wrapper { background: #FFF; margin: 1em auto; width: 95%; }
    #container { padding: 2em; }
    #welcome, #status { margin-bottom: 2em; }
    table {
        border-collapse: collapse;
    }
    th {
        text-align: left;
        color: #fff;
        background-color: #212529;
    }
    .table {
        width: 100%;
        max-width: 100%;
        margin-bottom: 1rem;
        background-color: transparent;
    }
    .table td, .table th {
        padding: .75rem;
        vertical-align: top;
        border-top: 1px solid #e9ecef;
    }
    .table thead th {
        vertical-align: bottom;
        border-bottom: 2px solid #e9ecef;
    }
    .table-striped tbody tr:nth-of-type(2n+1) {
        background-color: rgba(0,0,0,.05);
    }
    .table-hover tbody tr:hover {
        background-color: rgba(0,0,0,.07);
    }

    #welcome h1 span { display: block; font-size: 75%; }

    @media (min-width: 768px) {
        #wrapper { width: 80%; margin: 2em auto; }
        #status a, #next a { display: block; }

        @-webkit-keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
        @keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
        .sf-toolbar { opacity: 0; -webkit-animation: fade-in 1s .2s forwards; animation: fade-in 1s .2s forwards;}
    }
</style>
{% endblock %}
